<!doctype html>
<head>
<meta charset="utf-8">
<title>EstaFácil Login</title>
<link href="css/Untitled1.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
<script src="http://code.angularjs.org/1.2.13/angular.js"></script>
<script src="https://code.angularjs.org/1.5.2/angular-route.min.js"></script>
<script src="js/ui-bootstrap-tpls-1.2.5.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/teste.js"></script>
</head>
<body>
<div id="container">
<div id="wb_Text1" style="position:absolute;left:300px;top:71px;width:407px;height:37px;text-align:center;z-index:0;">
<span style="color:red;font-family:'Trebuchet MS';font-size:29px;">Erro na conexão com o servidor</span></div>
<input ng-model="inputUser" type="text" id="inputUser" style="position:absolute;left:454px;top:237px;width:179px;height:19px;line-height:19px;z-index:1;" name="inputUser" value="" tabindex="1">
<div id="wb_Text2" style="position:absolute;left:354px;top:159px;width:296px;height:22px;text-align:center;z-index:2;">
<span style="color:yellow;font-family:'Trebuchet MS';font-size:16px;">Sua seção expirou, por favor faça o login novamente <a href="/login">AQUI</a></span></div>
</div>
</body>