<head>
<meta charset="utf-8">
<title>EstaFácil Login</title>
<link href="css/Untitled1.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
</head>
<body>
<div id="container">
<div id="wb_Text1" style="position:absolute;left:300px;top:71px;width:407px;height:37px;text-align:center;z-index:0;">
<span style="color:#FFFFFF;font-family:'Trebuchet MS';font-size:29px;">EstaFácil Administrator Panel</span></div>
<div style="position:absolute;left:470px;top:271px;"><a ui-sref="login"><button type="button" class="btn btn-default">Login</button></a></div>
</div>
</body>