div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #2F4F4F;
   color: #C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Layer1
{
   background-color: #000000;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text4 div
{
   text-align: right;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text5 div
{
   text-align: right;
}
#Editbox1
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#Button1
{
   border: 2px #A9A9A9 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFC057;
   color: #FFFFFF;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 19px;
}
#Editbox2
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#Editbox3
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#Editbox4
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#Editbox5
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#Editbox6
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#Editbox9
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#Editbox10
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#Editbox11
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#Editbox12
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Text15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Text17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text17 div
{
   text-align: center;
}
#Editbox13
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#C0C0C0;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#wb_Text18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#wb_Text19 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#wb_Text20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
